{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VaultGuard</title>

    
    <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/homepage.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/password.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/comingsoon.css' %}" rel="stylesheet" type="text/css">
    
    <!-- image logo for title bar-->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
    
    <!--font-awesome icon cdn-->
    {% comment %} <script src="https://kit.fontawesome.com/9d0f7e9f00.js" crossorigin="anonymous"></script> {% endcomment %}
    <link href="{% static "fontawesome/css/all.css" %}" rel="stylesheet" />

    <!--load debounce cdn-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>

    {% if user.is_authenticated %}
        <script>
            function checkSession() {
                fetch('{% url "check_session" %}')
                    .then(response => response.json())
                    .then(data => {
                        if (!data.authenticated) {
                            alert('Your session has expired. Please log in again.');
                            var currentUrl = window.location.href;
                            console.log(currentUrl)
                            window.location.href = '{% url "login" %}?next='+currentUrl;
                            console.log(window.location.href)
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }

            setInterval(checkSession, 60000);  // Check session every 1 minutes
        </script>
    {% endif %}

</head>

<body>
    <header>
        <p class="headertitle">ValutGuard</p>
        <hr style="margin-bottom: 0px;">
        <nav class="navbar">
            <div class="navbar-left">
                {% if user.is_authenticated %}
                    <a href="{% url 'home' %}" class="navbar-item">Home</a>
                    <a class="navbar-item" href="#" style="pointer-events: none;">Welcome, {{ user.username |capfirst }}!</a>
                {% else %}
                    <a href="{% url 'home' %}" class="navbar-item">Home</a>
                {% endif %}
            </div>
            <div class="navbar-right">
                {% if user.is_authenticated %}
                    <a class="login-btn" style="margin-right:10px;" href="{% url "password-list" %}">Password List</a>
                    <a class="login-btn" href="{% url "comingsoon" %}" style="margin-right:10px;">Profile</a>
                    <a class="login-btn" href="{% url "logouthandle" %}">Logout</a>
                {% else %}
                    <a href="{% url "login" %}" class="login-btn">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>
    <main>
        {% block content %}
            <!-- dynamic content -->
        {% endblock content %}
    </main>

    <footer>
        <div class="footer-top">
            <a href="" target="_self"><h2>VaultGuard</h2></a>
        </div>
        <div class="footer-middle">
            <div class="footer-column">
                <h3>Contact</h3>
                <p>Email: scarjon007@gmail.com</p>
            </div>
            <div class="footer-column">
                <h3>Address</h3>
                <p>141 Nilkanth, Surat, Gujrat</p>
            </div>
            <div class="footer-column">
                <h3>Devloped By</h3>
                <p>Bhavin Chavda</p>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="newsletter">
            <h3>Stay informed, join our newsletter</h3>
            <form action="#" method="post">
                <label for="email">Enter your email here</label>
                <input type="email" id="email" name="email" required>
                <button type="button">Subscribe</button>
            </form>
            </div>
        </div>
    </footer>
    
    <!--script for add some functionality-->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>