{% extends "baseapp/base.html" %}
{% load static %}

{% block content %}
    <section class="main-section">
        <h1 class="main-heading" style="margin: 0px 0px 5px 10px;">
            Secure Password</h1>
        <h1 class="main-heading" style="margin:5px 0px 10px 10px;">Manager</h1>
    </section>
    <hr style="margin-bottom: 0px;"> 
    <section class="features-section">
        <div class="features-left">
            <h2>The Easy Way</h2>
            <div class="para1">
                <p>Securely manage your passwords with VaultGuard in three simple steps. First, create your VaultGuard account and log in securely. Next, add your usernames and passwords for various websites and services. VaultGuard encrypts your data using advanced standards, ensuring only you can access it. Finally, enjoy the convenience of generating strong passwords, securely sharing them, and accessing them across all your devices. Experience hassle-free password management with VaultGuard, designed to keep your information safe and easily accessible.</p>
            </div>
            <img src="{% static 'images/valutguardimg1.jpg' %}" alt="Image 1" width="276" height="291" style="object-fit: cover;">
        </div>
        <div class="features-right">
            <img src="{% static 'images/valutguardimg2.jpg' %}" alt="Image 2" style="height: 100%;">
        </div>
    </section>
    <section class="cta">
        <h2>Get Started</h2>
        <div>
            <a href="{% url 'signup' %}" class="btn">Sign Up</a>
            <a href="login.html" class="btn">Login</a>
        </div>
    </section>
    <section class="main-section aboutus">
        <h1 class="main-heading" style="margin: 0px 0px 5px 10px;">
            About Us    
        </h1>
    </section>    
    <section class="features-section aboutus">
        <div class="features-left aboutus">
            <h2>Our Story</h2>
            <div class="para1">
                <p>As the founder of VaultGuard, my journey began with a simple yet common frustration—managing numerous usernames and passwords across multiple websites. Facing the challenge of forgetting some passwords and usernames, I saw an opportunity to create a solution that could securely store and manage this sensitive information. VaultGuard was born from this vision—to provide individuals and organizations with a trusted platform for storing and accessing their credentials safely. Today, VaultGuard stands as a testament to our commitment to security and ease of use, empowering users worldwide to navigate the digital landscape confidently.</p>
            </div>

        </div>
        <div class="features-right aboutus">
            <video crossorigin="anonymous" playsinline="" preload="auto" muted="" loop="" tabindex="-1" autoplay="" src="{% static 'images/file.mp4' %}" ></video>
        </div>
    </section> 
    <section class="main-section technology">
        <h1 class="main-heading" style="margin: 0px 0px 5px 10px;">
            Our Technology    
        </h1>
        <div class="para2"> 
            <p>At VaultGuard, we prioritize the security and privacy of your passwords. We employ advanced Fernet encryption to ensure that your passwords are stored and transmitted securely. Fernet encryption uses strong cryptographic algorithms to transform your passwords into a format that can only be decrypted with the correct keys, protecting them from unauthorized access. Our platform is designed for ease of use, allowing you to generate robust passwords, securely share them with trusted individuals or teams, and access them seamlessly across devices. We continually enhance our security measures to stay ahead of evolving threats, providing you with peace of mind knowing that your information is always protected.</p> 
        </div>
    </section>
    
{% endblock content %}