{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}
<div class="addpassword-container">
    <h1>Add new password</h1>
    <form id="addpassword-form" method="post" action="{% url "add-passwordhandle" %}">
        {% csrf_token %}
        <label for="site">Site:</label>
        <input type="text" id="site" name="site" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <div class="btn-container">
            <a href="{% url "password-list" %}" class="add-view-button">Cancel</a>
            <button class="add-view-button" type="submit">Save</button>
        </div>

        <div id="password-message">
            <h3>Password must contain:</h3>
            <p class="password-message-item invalid">At least
                one <b>lowercase</b> letter
            </p>
            <p class="password-message-item invalid">At least
                one <b>uppercase</b> letter
            </p>
            <p class="password-message-item invalid">At least
                one <b>number</b>
            </p>
            <p class="password-message-item invalid">At least
                minimum <b>8 characters</b>
            </p>
        </div>
    </form>    
</div>
{% endblock content %}