{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}
<div class="passwordDetailContainer">
    <div class="password-header">
        <div class="back-btn">
            <a href="{% url "password-list" %}" class="pbtn view-button" style="margin-left: 0;">Back</a>
        </div>
    </div>
    <div class="password-detail">
        <div class="passwordDetail-row">
            <div>
                <label class="passwordDetail-label" >Username</label>
                <div class="username-section">
                    <span id="username-display">{{passwordDetail.username_of_website}}</span>
                    <i id="copy-username-icon" class="fa-regular fa-copy"></i>
                    <span class="username-tooltip" id="username-tooltip">Copied</span>
                </div>
            </div>
            <div class="site-info">    
                <p class="passwordDetail-label site">Site</p>
                <a href="https://{{passwordDetail.website}}" target="_blank">https://{{passwordDetail.website}}</a>
            </div>
        </div>
        <div class="passwordDetail-row">
            
            <div>
                <label class="passwordDetail-label" >Password</label>
                <div class="password-section">
                    <span id="password-display" aria-readonly="true" ></span>
                    <input type="hidden" value="{{passwordDetail.password_of_website}}" id="ogpwd">
                    <i id="toggle-password-icon" class="fa-regular fa-eye-slash"></i>
                    <i id="copy-password-icon" class="fa-regular fa-copy"></i>
                    <span class="password-tooltip" id="password-tooltip">Copied</span>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="passwordDetail-btn-group">
        <a href="{% url "update-pasword" passwordDetail.id%}" class="edit-btn pbtn view-button">Edit</a>
        <a href="{% url "delete-password" passwordDetail.id %}" class="delete-btn pbtn view-button">Delete</a>
    </div>
</div>
{% endblock content %}