{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}
<div class="password-container">
    <h1 style="text-align: center;" >Password List</h1>
    <div class="search-container">
        <input type="text" placeholder="Search Sites" id="search-site">
        <!-- <input type="submit" value="Search"> -->
    </div>
    <div class="info">
        <div>Number of password saved: <span style="color: white;">{{ vault|length }}</span></div>
        <a href="{% url "add-password" %}" class="addpassword-button">Add Password</a>
        <span hidden id="listdata">{{listdata}}</span>
    </div>
    <div class="password-list">
        {% for password in vault %}
            <div class="password-box">
                <h2 class="website-name">{{password.website}}</h2>
                <a href="{% url "password-detail"  password.id %}" class="view-button">View</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}