{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}
<div class="addpassword-container">
    <h1>Edit Password</h1>
    <form id="addpassword-form" method="post" action="{% url "update-passwordhandle" passwordDetail.id %}">
        {% csrf_token %}
        <label for="site">Site:</label>
        <input type="text" id="site" name="site" value="{{passwordDetail.website}}" required>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{passwordDetail.username_of_website}}" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{passwordDetail.password_of_website}}" required>

        <div class="btn-container">
            <a href="{% url "password-detail" passwordDetail.id %}" class="view-button">Cancel</a>
            <button class="view-button" type="submit">Save</button>
        </div>
    </form>    
</div>
{% endblock content %}